/*  HERO */

.hero {
    padding-block: 0rem 3rem;
    position: relative;
    overflow: hidden;

    background-image:
            linear-gradient(
                    to bottom,
                    rgba(255, 255, 255, 0) 90%,
                    var(--page-bg) 98%
            ),

            linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 1) 10%,
                    rgba(255, 255, 255, 0.96) 25%,
                    rgba(255, 255, 255, 0.7) 50%,
                    rgba(255, 255, 255, 0.0) 75%
            ),
            url("../img/hero/drone-1500p.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

/* фон для разных ширин */

@media (max-width: 2000px) {
    .hero{
        background-image:
                linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0) 80%,   /* верх — прозрачный */
                        var(--page-bg) 98%  /* низ — белый фон страницы */
                ),

                linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 1) 0%,
                        rgba(255, 255, 255, 1) 10%,
                        rgba(255, 255, 255, 0.96) 25%,
                        rgba(255, 255, 255, 0.7) 50%,
                        rgba(255, 255, 255, 0.0) 75%
                ),
                url("../img/hero/drone-1500.jpg");
        background-size: cover;
        background-position: center center;
    }
}

@media (max-width: 1000px) {
    .hero{
        background-image:
                linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0) 90%,   /* верх — прозрачный */
                        var(--page-bg) 98%  /* низ — белый фон страницы */
                ),

                linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 1) 0%,
                        rgba(255, 255, 255, 1) 10%,
                        rgba(255, 255, 255, 0.96) 25%,
                        rgba(255, 255, 255, 0.7) 50%,
                        rgba(255, 255, 255, 0.0) 75%
                ),
                url("../img/hero/drone-1000.jpg");
        background-size: cover;
        background-position: center bottom;
    }
}

@media (max-width: 750px) {
    .hero{
        background-image:
                linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0) 90%,   /* верх — прозрачный */
                        var(--page-bg) 98%  /* низ — белый фон страницы */
                ),

                linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 1) 0%,
                        rgba(255, 255, 255, 1) 10%,
                        rgba(255, 255, 255, 0.96) 25%,
                        rgba(255, 255, 255, 0.7) 50%,
                        rgba(255, 255, 255, 0.0) 75%
                ),
                url("../img/hero/drone-800.jpg");
        background-size: cover;
        background-position: center bottom;
    }
}


.hero__inner {
    margin: 0 auto;
    padding-inline: var(--layout-padding-x);

    display: grid;
    grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr);
    gap: 2.5rem;
    align-items: stretch;

    padding-block: 2rem 2rem;
    border-radius: 4px;

    min-height: clamp(420px, 70vh, 900px);
}

@media (min-width: 2000px) {
    .hero__inner {
        grid-template-columns: 3fr 2fr;
    }
}

@media (min-width: 900px) {
    .hero__inner {
        max-width: 100%;
    }
}

.hero__content {
    border-radius: 0.8rem;
    padding: 1.7rem 2rem;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    min-height: 90%;
    margin: 0;
}


/* вложенный контент hero */

.hero__title {
    font-size: clamp(2rem, 2.4vw, 2.8rem);
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

@media (max-width: 1100px) {
    .hero__title {
        font-size: 1.7rem;
    }
}


.hero__subtitle {
    font-size: clamp(1.1rem, 1.4vw, 1.5rem);
    color: var(--text-soft);
    margin-bottom: 1rem;
}

.hero__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.hero__facts {
    margin: 0;
    padding-left: 1.25rem;
    font-size: 0.95rem;
    color: var(--text-soft);
}

.hero__media {
    justify-self: center;
}

.hero__btn{
    background: var(--btn-hero-bg);
    color: var(--btn-hero-color);
    border-color: var(--btn-hero-bg);
    box-shadow: 0 10px 24px rgba(37, 99, 235, 0.30);
}

.hero__btn:hover {
    background: var( --btn-hero-hover-bg);
    border-color: var( --btn-hero-hover-bg);
    color: var(--btn-hero-color);
    box-shadow: 0 12px 26px rgba(37, 99, 235, 0.38);
}

/* лёгкий вертикальный отступ текста на больших */

@media (min-width: 800px) {
    .hero__content {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1000px) {
    .hero__content {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}



@media (max-width: 890px) {
    .hero__inner {
        grid-template-columns: 2fr 1fr;
    }

    .hero__media {
        order: -1;
    }
}

@media (max-width: 750px) {
    .hero__inner {
        grid-template-columns: 3fr 1fr;
    }
}

@media (max-width: 705px) {
    .hero__inner {
        grid-template-columns: 4fr 1fr;
    }
}

@media (max-width: 640px) {
    .hero__inner{
        grid-template-columns: 1fr;
    }
}




@media (max-width: 640px) {
    .hero {
        padding-block: 2.5rem 2rem;
    }

    .hero__title {
        font-size: 1.3rem;
    }


    .hero__actions {
        flex-direction: column;
        align-items: stretch;
    }
}